.heading {
    text-align: center;
    width: 90;
    margin: auto;
  }
.heading>div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: max-content;
}
.heading h1{
    text-align: center;
    color: #520232 !important;
    margin-bottom: 1vh;
    margin-top: 5vh;
   font-weight: 600;
   text-transform: capitalize;
   font-size: calc(1.5rem + 1vw);
}
.heading p{
    color: black;
    font-weight: 550;
    text-align: center ;
   font-size: 1.35rem;
}

@media screen and (max-width: 768px) {
    .heading>h1{
       font-size: calc(1.5rem + 1vw);
    }
    .heading>p{
        margin-bottom: 1vh;
    }  
}